.container__content {
    display: flex;
    flex-direction: row;
}

.allocation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 246, 210, .1);
    border-radius: 10px
}

.allocation-title {
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

.allocation__stats {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.allocation__stats__allocated {
    display: flex;
    flex-direction: column;
}

.allocated-value {
    margin-top: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.allocation__stats__vested {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.vested-value {
    margin-top: 4px;
    font-size: 14px;
    color: #ffffff;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 98px;
    white-space: nowrap;
}

.allocation__calculated {
    display: flex;
    flex-direction: column;
    width: calc(100% + 10px - 30%);
    margin-left: auto;
    margin-top: 20px;
}

.allocation__calculated__content {
    display: flex;
    flex-direction: row;
}

.allocation__calculated__content__available,
.allocation__calculated__content__locked,
.allocation__calculated__content__distributed {
    display: flex;
    flex-direction: column;
}

.allocation__calculated__content__available,
.allocation__calculated__content__locked {
    margin-left: 40px;
}

.distributed-value,
.available-value,
.locked-value {
    margin-top: 4px;
    font-size: 16px;
    color: #ffffff;
}

.allocation__calculated__graph {
    height: 32px;
    border-radius: 4px;
    margin-top: auto;
    display: flex;
    background-color: rgba(0, 246, 210, .5);
    z-index: 1;
}

.allocation__calculated__graph__value {
    height: 100%;
    background-color: #00f6d2;
    z-index: 10;
}

.allocation-total-temporary {
    display: flex;
    flex-direction: row;
}

#allocation-claim {
    margin-left: 20px;
    align-self: flex-end;
}

#allocation-progress-available {
    height: 100%;
    z-index: 20;
    border-left: dashed 2px rgba(255, 255, 255, .5);
}
