.governance {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 246, 210, .1);
    border-radius: 10px;
}

.governance__title {
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px;
}

.governance__value {
    font-size: 16px;
    color: #ffffff;
    margin-top: 5px;
}

.governance__value.total {
    font-size: 20px;
    font-weight: bold;
}

.governance__separator {
    height: 1px;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.governance__pkey {
    display: flex;
    font-size: 16px;
    color: #00f6d2;
    cursor: pointer;
    margin-top: 20px;
    width: 110px;
}