@import './fonts/fonts.css';

@import './scripts/components/staking-component/staking-component.css';
@import './scripts/components/governance-component/governance-component.css';
@import './scripts/components/allocation-component/allocation-component.css';
@import './scripts/components/public-key-popup-component/public-key-popup-component.css';
@import './scripts/components/claim-rewards-popup-component/claim-rewards-popup-component.css';
@import './scripts/components/deposit-popup-component/deposit-popup-component.css';
@import './scripts/components/withdraw-popup-component/withdraw-popup-component.css';

/* plugin area start  */

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container__main {
    display: flex;
    flex-direction: row;
}

governance-component {
    width: 30%;
}

allocation-component {
    margin-top: 10px;
}

.container__sub {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: calc(100% - 10px - 30%);
}

staking-component {
    border-radius: 10px;
}

.container__sub__voting {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 10px;
    height: 56px;
}

.voting__content {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    font-size: 16px;
    font-style: italic;
    color: #ffffff;
    margin-left: auto;
}

.voting__content__text {
    opacity: 0.5;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}


/* common - start */

body {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

.container__header {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3.11px;
    color: #ffffff;
}

.container-title {
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 9px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

.ui-button {
    padding: 0 30px;
    border: 0;
    height: 38px;
    border-radius: 50px;
    box-shadow: none;
    color: #042548;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    align-items: center;
}

.ui-button:not(.disabled):hover {
    -moz-box-shadow:0 0 10px #ffffff; 
    -webkit-box-shadow:0 0 10px #ffffff; 
    box-shadow:0 0 10px #ffffff;
}

.ui-button__inner-wrapper {
    display: flex;
    flex-direction: row;
}

.ui-button__icon {
    margin-right: 15px;
}

/* common - end */

.container__main__controls {
    display: flex;
    align-self: center;
    margin-top: 50px;
}

.cancel-text {
    color: #ffffff;
}

.container__main__controls__cancel {
    background-color: rgba(255, 255, 255, 0.1);
}

/* plugin area ends */

/* common elements start */

.hidden {
    display: none !important;
}

.disabled {
    opacity: 0.3;
    cursor: default;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
}

#error-full,
#error-common {
    text-align: center;
    font-size: 16px;
    color: red;
}

/* common elements ends */

/* popup starts */

.popup {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup .popup__content{
    margin: 40px auto 0px auto;
    padding: 30px;
    width: 460px;
    height: 139px;
    border-radius: 10px;
    background-color: #00446c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__content__title {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.popup__content__controls {
    margin-top: auto;
}

/* popup ends */